src/main/mule/get-time-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-time-implFlow" doc:id="77c4ac74-a06a-4067-a851-33180fc706c5" >
		<ee:transform doc:name="Transform Message" doc:id="c62cc80b-b286-4fc8-b85c-14797af11f73" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
now() ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Payload" doc:id="4c0617c3-e1a7-4bf6-89a6-8a0bb82c3f9f" message="#[payload]" />
		<logger level="INFO" doc:name="Logger" doc:id="56ba6da5-69e5-4cc3-a85e-5c5bb9c25bdb" message='#["Hello world"]'/>
	</flow>
</mule>
